name: Deploy Strapi with Terraform

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}  # Replace with your desired region

    - name: Initialize Terraform
      run: terraform init
      working-directory: ./Terraform

    - name: Plan Terraform
      run: terraform plan
      working-directory: ./Terraform

    - name: Apply Terraform
      run: terraform apply -auto-approve
      working-directory: ./Terraform

    - name: Output Strapi IP
      run: terraform output instance_ip
      working-directory: ./Terraform
